  /* Add padding to the body to prevent content from being overlapped by the fixed navbar */
  body {
    font-family: Arial, sans-serif; /* Adjust font family as needed */
   height: 100vh;
  }
/* Style for the cover container */
.cover-container {
font-family: Arial, sans-serif; /* Adjust font family as needed */
 
}

/* Style for the cover image */
.cover-image {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0.4);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Style for the cover text */
.cover-text {
  position: absolute;
  top: 50%;
  left:45%;
  padding-top: 10%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ccd3c1;
  z-index: 1; 
}

.cover-text h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.cover-text p {
  font-size: 1.2em;
  margin-right: auto;
}
/* Style for the navigation links */
.navbar ul {
  list-style-type: none;
  text-align: center;
}

.navbar ul li {
  display: inline-block;
  margin: 0 10px;
}

.navbar ul li {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s; /* Smooth color transition */
}
.navbar ul li .active {
 text-decoration: underline;
  text-decoration-color: rgb(102, 228, 6);
}
/* Change link color on hover */
.navbar ul li a:hover {
  background-color: rgba(234, 238, 232, 0.2); /* Semi-transparent white */
  text-decoration: underline;
  text-decoration-color: rgb(102, 228, 6);
  ;
}


/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .navbar ul li {
  display: inline-block;
  margin: 0px;
  align-self:self-end;
}

.navbar ul li {
  color: #fff;
  text-decoration: none;
  padding: 2px;
  border-radius: 5px;
  transition: background-color 0.3s; /* Smooth color transition */
  
}
  .cover-text h1 {
    font-size: 6vw; /* Adjusted font size for smaller screens */
  }

  .cover-text p {
    font-size: 3vw; /* Adjusted font size for smaller screens */
  }
}
